// COLORS

$orange: #f08f50;
$red: #d45b6e;

// summary

// 01. GENERAL
// 02. NAVIGATION
// 03. FOOTER
// 04. LANDING PAGE
// 05. SIGN IN PAGE
// 06. CVTHEQUE FORM

// 01. GENERAL

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	line-height: 1.3rem;
	color: #333;
}
html {
	height: 100%;
	width: 100%;
	display: block;
}
body {
	height: 100%;
	position: relative;
	min-height: 100vh;
}

.wrapper {
	position: relative;
	line-height: 1.5;
	min-height: calc(100vh - 4rem);
	display: flex;
}

// general page layout

.container {
	margin: 5% 15% 3% 15%;
	width: 100%;
	h1 {
		margin: 6% auto 3% auto;
		color: $orange;
		text-align: center;
		font-size: 2.5rem;
	}
	h2 {
		margin: 6% 0 2% 0;
		color: orange;
		font-size: 2rem;
		svg {
			path {
				color: orange;
			}
		}
	}
	h3 {
		color: $red;
		font-size: 1.5rem;
		svg {
			path {
				color: $red;
			}
		}
	}
	p,
	a,
	ul,
	li {
		font-size: 16px;
		text-align: justify;
	}
}

// 02. NAVIGATION

.uthNav {
	background: rgb(240, 143, 80);
	background: -moz-linear-gradient(39deg, rgba(240, 143, 80, 1) 0%, rgba(212, 91, 110, 1) 100%);
	background: -webkit-linear-gradient(39deg, rgba(240, 143, 80, 1) 0%, rgba(212, 91, 110, 1) 100%);
	background: linear-gradient(39deg, rgba(240, 143, 80, 1) 0%, rgba(212, 91, 110, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f08f50", endColorstr="#d45b6e", GradientType=1);
	display: flex;
	.logo {
		flex-grow: 1;
		padding-left: 2%;
		a {
			img {
				width: 100%;
				max-width: 200px;
			}
		}
	}
	li {
		margin-right: 2%;
		list-style: none;
		align-self: center;
		a,
		.divider,
		.dropdown {
			justify-content: center;
			align-items: center;
			color: white;
			text-decoration: none;
		}
	}
}
.signOutPara {
	p {
		color: white !important;
		cursor: pointer;
		&:hover {
			outline: none;
		}
	}
}

.nonAuthNav {
	background: rgb(240, 143, 80);
	background: -moz-linear-gradient(39deg, rgba(240, 143, 80, 1) 0%, rgba(212, 91, 110, 1) 100%);
	background: -webkit-linear-gradient(39deg, rgba(240, 143, 80, 1) 0%, rgba(212, 91, 110, 1) 100%);
	background: linear-gradient(39deg, rgba(240, 143, 80, 1) 0%, rgba(212, 91, 110, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f08f50", endColorstr="#d45b6e", GradientType=1);
	display: flex;
	.logo {
		flex-grow: 1;
	}
	li {
		margin-right: 2%;
		list-style: none;
		align-self: center;
		a,
		.divider,
		.dropdown {
			justify-content: center;
			align-items: center;
			color: white;
			text-decoration: none;
		}
	}
}

// 03. FOOTER

.footer {
	background: rgb(240, 143, 80);
	background: -moz-linear-gradient(39deg, rgba(240, 143, 80, 1) 0%, rgba(212, 91, 110, 1) 100%);
	background: -webkit-linear-gradient(39deg, rgba(240, 143, 80, 1) 0%, rgba(212, 91, 110, 1) 100%);
	background: linear-gradient(39deg, rgba(240, 143, 80, 1) 0%, rgba(212, 91, 110, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f08f50", endColorstr="#d45b6e", GradientType=1);
	position: absolute;
	font-size: small;
	color: #fff;
	background-color: #262626;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 5rem;
	padding: 2%;
}
.flexFooter {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	p {
		color: white;
		font-size: 15px;
	}
}
.footerLink {
	width: 100%;
	text-align: center;
	margin: 0 2%;
	a {
		text-align: center;
		margin: 0 1%;
		color: white;
		text-decoration: none;
		font-style: italic;
	}
}

// LANDING PAGE

.headerPic {
	width: 100%;
}

.landingPresentation {
	display: flex;
	flex-direction: row;
	margin: 3% auto;
	justify-content: center;
	align-items: center;

	.ui.card {
		margin: 0 2% 0 2%;
		padding: 0;
		height: 300px;
		.content {
			svg {
				font-size: 2rem;
				display: block;
				margin: 1% auto;
				path {
					color: orange;
				}
			}
			h1 {
				color: $orange;
				text-align: center;
			}
		}
		.extra {
			text-align: right;
		}
	}
}
.historyPic {
	width: 100%;
	max-width: 400px;
	border-radius: 10px;
	margin-right: 2%;
}
.flex_history {
	display: flex;
	margin-bottom: 4%;
}
.historyUl {
	margin-left: 4%;
}

//MISSIONS PAGE

.missionPic {
	width: 100%;
	max-width: 400px;
	border-radius: 10px;
	margin-left: 4%;
}
p {
	align-self: center;
	justify-self: center;
}
.line {
	width: 400px;
	height: 3px;
	display: block;
	margin: 5% auto;
	background-color: $orange;
}

.bottom {
	display: flex;
	p {
		font-size: 20px;
	}
}

// SIGN IN PAGE

.signIn {
	background: rgb(240, 143, 80);
	background: -moz-linear-gradient(90deg, rgba(240, 143, 80, 1) 0%, rgba(212, 91, 110, 1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(240, 143, 80, 1) 0%, rgba(212, 91, 110, 1) 100%);
	background: linear-gradient(90deg, rgba(240, 143, 80, 1) 0%, rgba(212, 91, 110, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f08f50", endColorstr="#d45b6e", GradientType=1);

	width: 100%;
	section {
		-webkit-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 1);
		-moz-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 1);
		box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 1);
		background-color: white;
		width: 50%;
		height: 70%;
		display: block;
		margin: 6% auto;
		padding: 4%;
		border-radius: 10px;
		h1 {
			text-align: center;
			color: $orange;
			font-size: 2.5rem;
		}
	}
}

.signInForm {
	display: flex;
	flex-direction: column;
	margin: 4% 15% 0 15%;
	p {
		text-align: center;
		font-style: italic;
		margin: 0 auto 7% auto;
	}
	div {
		margin-bottom: 2%;
	}
	button {
		width: 50%;
		display: block;
		margin: 3% auto;
		padding: 3% 2%;
		border-radius: 10px;
		border: none;
		cursor: pointer;
	}
}

.forgotPasswordLink {
	text-align: center;
}

// PASSWORD FORGOT

.pw-forgot {
	h1 {
		margin-top: 5% !important;
	}
	form {
		margin-top: 8% !important;
	}
	button {
		margin-top: 8% !important;
	}
}

// AUTHENTICATED USERS HOMEPAGE
.authHomepage {
	text-align: center !important;
	margin: 4% auto 4% auto;
}

.signoutBtn {
	p {
		line-height: 2.5rem;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		hyphens: auto;
		word-break: break-word;
		text-transform: uppercase !important;
		color: #fff !important;
		font-weight: 700;
		font-size: 1.75em !important;
		transition: opacity 350ms;

		> small {
			font-weight: 300;
			margin-top: 0.25em;
		}
	}
}

// HONEYCOMB

$hexagon-width: 250px;
$hexagon-height: $hexagon-width*.55;
$hexagon-margin: 25px;
$hexagon-title-color: #fff;
$hexagon-border-color: #fff;
$hexagon-border-color--hover: $orange;
$hexagon-image-color: #9e9e9e;
$honeycomb-max-width: 1200px;
$viewport-thereshold: $hexagon-width + $hexagon-margin;

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

.honeycomb {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	justify-content: center;
	align-items: center;
	max-width: $honeycomb-max-width;
	margin: 2% auto 6%;
	padding: 0;
	transform: translateY(#{$hexagon-height/4});
	cursor: pointer;

	&-cell {
		flex: 0 1 $hexagon-width;
		max-width: $hexagon-width;
		height: $hexagon-height;
		margin: $hexagon-height/2.1 $hexagon-margin/2 $hexagon-margin;
		position: relative;
		padding: 0.5em;

		text-align: center;
		z-index: 1;

		&__title {
			line-height: 2.5rem;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			hyphens: auto;
			word-break: break-word;
			text-transform: uppercase !important;
			color: #fff !important;
			font-weight: 700;
			font-size: 1.75em !important;
			transition: opacity 350ms;

			> small {
				font-weight: 300;
				margin-top: 0.25em;
			}
		}

		&__image {
			object-fit: cover;
			object-position: center;
		}

		&::before,
		&::after {
			content: '';
		}

		&::before,
		&::after,
		&__image {
			top: -50%;
			left: 0;
			width: 100%;
			height: 200%;
			display: block;
			position: absolute;
			clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
			z-index: -1;
		}

		&::before {
			background: $hexagon-border-color;
			transform: scale(1.055);
		}

		&::after {
			background: $hexagon-image-color;
			opacity: 0.5;
			transition: opacity 350ms;
		}

		&:hover {
			.honeycomb-cell__title {
				opacity: 0;
			}

			&::before {
				background: $hexagon-border-color--hover;
			}

			&::after {
				opacity: 0;
			}
		}
	}

	&__placeholder {
		display: none;
		opacity: 0;
		width: $hexagon-width;
		margin: 0 $hexagon-margin/2;
	}
}

@media (max-width: #{2*$viewport-thereshold}) {
	.honeycomb-cell {
		margin: #{$hexagon-margin/2 + $hexagon-height/2} $hexagon-margin;
	}
}

@media (min-width: #{2*$viewport-thereshold}) and (max-width: #{3*$viewport-thereshold}) {
	.honeycomb-cell:nth-child(3n) {
		margin-right: calc(50% - #{$hexagon-width/2});
		margin-left: calc(50% - #{$hexagon-width/2});
	}

	.honeycomb__placeholder:nth-child(3n + 5) {
		display: block;
	}
}

@media (min-width: #{3*$viewport-thereshold}) and (max-width: #{4*$viewport-thereshold}) {
	.honeycomb-cell:nth-child(5n + 4) {
		margin-left: calc(50% - #{$hexagon-width + $hexagon-margin});
	}

	.honeycomb-cell:nth-child(5n + 5) {
		margin-right: calc(50% - #{$hexagon-width + $hexagon-margin});
	}

	.honeycomb__placeholder:nth-child(5n),
	.honeycomb__placeholder:nth-child(5n + 3) {
		display: block;
	}
}

@media (min-width: #{4*$viewport-thereshold}) {
	.honeycomb-cell:nth-child(7n + 5) {
		margin-left: calc(50% - #{$hexagon-width*1.5 + $hexagon-margin});
	}

	.honeycomb-cell:nth-child(7n + 7),
	.honeycomb-cell:nth-child(7n + 5):nth-last-child(2) {
		margin-right: calc(50% - #{$hexagon-width*1.5 + $hexagon-margin});
	}

	.honeycomb__placeholder:nth-child(7n + 7),
	.honeycomb__placeholder:nth-child(7n + 9),
	.honeycomb__placeholder:nth-child(7n + 11) {
		display: block;
	}
}

// CV THEQUE FORM

.cvthequeForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	div {
		width: 100%;
		max-width: 600px;
	}
}
.MuiSelect-root
	.MuiSelect-select
	.MuiSelect-selectMenu
	.MuiSelect-outlined
	.MuiInputBase-input
	.MuiOutlinedInput-input {
	height: 55px;
	margin: none !important;
}

.marginFormTop {
	margin-top: 2% !important;
}
.marginFormBottom {
	margin-bottom: 2% !important;
}

.uploadCV {
	width: 100%;
	margin-top: 2%;
	padding: 2.5%;
	border: 1px solid #cbcbcb;
	border-radius: 5px;
}

input[type="file" i] {
	color: #8c8c8c;
}

.cvthequePara {
	text-align: center !important;
	margin-bottom: 3%;
}
.validationBtn {
	display: flex;
	justify-content: center;
	align-items: center;

	button {
		margin-top: 6%;
		padding: 2% 3%;
		border: 3px solid orange;
		border-radius: 5px;
		background-color: white;
		color: orange;
		font-weight: bold;
		outline: none;
	}
	button:disabled {
		opacity: 0.5;
	}
}

// CV DISPLAY

.resumeDisplay {
	display: inline-block;
	width: 60%;
	margin: 2% auto;
	li {
		background-color: #eeeeee;
		margin: 2% auto;
		padding: 2%;
		border-radius: 5px;
		list-style-type: none;
		display: flex;
		align-items: flex-start;
		text-align: left;
		justify-content: space-around;
		div {
			flex-grow: 1;
		}
		a {
			cursor: pointer;
			button {
				cursor: pointer;
				border: none;
				outline: none;
				svg {
					cursor: pointer;
					font-size: 1.5rem;
				}
			}
		}
	}
}

//ADMIN INTERFACE

// GENERAL INTERFACE

.adminPicture {
	display: block;
	margin: 2% auto;
}

.adminList {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	a {
		padding: 2%;
		background-color: #f7f7f7;
		min-height: 200px;
		height: 100%;
		width: 100%;
		margin: 2%;
		text-align: center;
		color: #333;
		border: 1px solid #f7f7f7;
		border-radius: 5px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		svg {
			margin-bottom: 5%;
			font-size: 2.3rem;
		}
		span {
			margin-top: 5%;
			color: $red;
			font-weight: bold;
			font-size: 1.5rem;
			line-height: 1.5rem;
		}
	}
}

//USERS INTERFACE

.adminUsersList {
	padding: 2%;
	margin-bottom: 2%;
	border-radius: 10px;
	li {
		margin-bottom: 2%;
		padding: 2%;
		background-color: #f8f8f8;
		list-style-type: none;
		display: flex;
		justify-content: space-between;
		span {
			strong {
				color: $red;
			}
		}
	}
}
.adminUsersDetails {
	display: flex;
	section {
		width: 50%;
		display: flex;
		flex-direction: column;
		span {
			padding: 2%;
			margin: 2% 2% 2% 0;
			font-size: 1.4rem;
			strong {
				color: $red;
			}
		}
	}
	.usersAdminBtn {
		margin-left: 30%;
		margin-top: 1%;
		button {
			padding: 4%;
			width: 50%;
			margin-bottom: 4%;
			border: none;
			border-radius: 10px;
			outline: none;
			cursor: pointer;
		}
		button:nth-last-child(1) {
			background-color: $red;
			color: white;
		}
	}
}

.adminUsersPic {
	display: block;
	margin: 8% auto 0 auto;
	width: 100%;
	max-width: 500px;
}

// SIGN UP

.registerForm {
	display: flex;
	flex-direction: column;
	margin: 2% 25%;
	justify-content: center;
	align-items: center;
	div {
		width: 100%;
		margin-bottom: 3%;
	}
	label {
		display: flex;
		flex-direction: row;
		margin-right: 1%;
		width: 100%;
		input {
			margin-left: 1px;
			width: 50px;
		}
	}
	button {
		padding: 2% 3%;
		border: 3px solid orange;
		border-radius: 5px;
		background-color: white;
		color: orange;
		width: 150px;
		font-weight: bold;
		outline: none;
	}
	button:disabled {
		opacity: 0.5;
	}
}

// CONFIRMATION EMAIL

.confirmationEmail {
	padding: 2%;
	display: block;
	margin: 5% auto 3% auto;
	border: 3px solid $red;
	border-radius: 5px;
	background-color: white;
	color: $red;
	width: 500px;
	font-weight: bold;
	outline: none;
}
.confirmationEmail:disabled {
	opacity: 0.5;
}

.EmailUsersPic {
	display: block;
	margin: 8% auto 0 auto;
	width: 100%;
	max-width: 400px;
}

// JOB DISPLAY (offres)

.offers {
	background-color: #f8f8f8;
	border-radius: 10px;
	margin-bottom: 2%;
	padding: 2%;
	li {
		list-style-type: none;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		div:nth-of-type(1) {
			color: $orange;
			font-weight: bold;
		}
	}
}

.openJob {
	cursor: pointer;
	&:hover {
		cursor: pointer;
	}
}
